@use "../SASS/_partials/variables" as v;
@import "../SASS/_partials/reset", "../SASS/_partials/mixins",
  "../SASS/_components/header", "../SASS/_components/main",
  "../SASS/_components/footer";

body {
  background-color: v.$black;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}
html {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}
::-webkit-scrollbar-track {
  background: v.$black-light;
}
::-webkit-scrollbar-thumb {
  background-color: v.$color-scroll;
}
