@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$text-font: "Montserrat", sans-serif;
$title-font: "Raleway", sans-serif;

$darker: #212121;
$bg-color-primary: #181d24; // usado
$bg-color-secondary: #978510; // uasdo
$color-secondary: #978510; // usado
$color-btn-search: #ffc107; // usado
$hover-footer: #ffc107; // usado
$features-darker: #4e4a41f8; // usado
$darker-transparent: #212121c5;
$black: #333333;
$black-light: #4d4d4d;
$black-navbar: #3f3f3f;
$white: #fff;
$white-transparent: #f9f9f9c2;
$color-scroll: #ffffff; // usado
$c-white: #e8e8e8; // usado
