@use "../_partials/variables" as v;

.fix-btn-valora {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 1;
  font-size: 1rem;
  top: 50%;
  color: v.$white;
  background-color: v.$bg-color-secondary;
  padding: 0.4rem;
  right: 0;
  a:hover {
    color: v.$white;
    text-decoration: none;
  }
}

.custom {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;

  .img-slider {
    max-height: 75vh;
    width: 100%;
  }

  .text {
    font-size: 8rem;
    position: absolute;
    // bottom: 25rem;
    top: 26rem;
    left: 24rem;
    padding: 10px;
    color: white;

    span {
      font-size: 3rem;
      color: v.$color-secondary;
    }
  }

  .move-down {
    width: 5rem;
    position: absolute;
    top: 20rem;
    transition: transform 0.3s ease; // Add a soft transition
  }

  .move-down:hover {
    transform: translateY(
      10px
    ); // move the image down when the cursor is on top
  }

  .bottom-slider {
    background-color: v.$bg-color-primary;
    padding: 4.6rem;
  }
  .search {
    margin: auto;
    background-color: v.$bg-color-primary;
    padding: 7rem;
    padding-bottom: 3rem;
  }

  .container {
    form {
      display: flex;
      flex-wrap: nowrap;
      gap: 0; // We reduce the space between the elements
      .col-md-4 {
        border-radius: 0;
        border: 0;
        flex: 1;
        margin: 0;
        // Margin-Right: 5px;// We adjust the right margin of the entrance fields
      }

      .form-control,
      .form-select,
      .btn {
        padding: 1rem;
        border-radius: 0;
        border: 0;
      }
      // TODO: HOVER FORM
      // .form-control:hover,
      // .form-select:hover,
      // .btn:hover{
      //   border-color: v.$color-yellow;

      // }
      .btn {
        color: v.$white;
        font-weight: bold;
        background-color: v.$color-yellow;
        border-color: v.$color-yellow;
        width: 10rem;
      }
      .small-image {
        width: 25px;
        float: left;
        margin-right: 5px;
      }
    }
    .extra-btns {
      color: v.$white;
      font-weight: bold;
      gap: 0; // We reduce the space between the elements
      .btn1 {
        padding: 1rem;
        background-color: v.$features-darker;
      }
      .btn2 {
        padding: 1rem;
        background-color: v.$bg-color-secondary;
      }
      img {
        width: 25px;
        float: left;
        margin-right: 5px;
      }
    }
  }
  .choose-future {
    position: relative;
    text-align: center;

    img {
      max-width: 100%;
      display: block;
    }

    p,
    .icon-v,
    .cards {
      font-size: 50px;
      color: v.$color-secondary;
      position: absolute;
      top: 6rem;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
    }

    .icon-v {
      top: 18rem;
      width: 5rem;
    }

    .cards {
      width: 65%;
      height: 52%;
      top: 27rem;
      z-index: 1;

      h5 {
        font-size: 20px;
      }

      span {
        font-size: 10px;
      }

      .card {
        height: 100%;
        color: v.$white;
        border: 0;
        border-radius: 0;
        background-color: v.$bg-color-primary;
        position: relative;
        transform: translateZ(0);

        h5 {
          color: v.$white;
        }

        .square {
          width: 45px;
          height: 9rem;
          position: absolute;
          left: 0;

          &.top-left {
            background-color: v.$color-yellow;
            top: 0;

            // &:before {
            //   content: "";
            //   position: absolute;
            //   z-index: -1;
            //   top: 0;
            //   left: 0;
            //   right: 0;
            //   bottom: 0;
            //   background: v.$bg-color-primary;
            //   transform: scaleY(0);
            //   transform-origin: 50% 100%;
            //   transition-property: transform;
            //   transition-duration: 0.5s;
            //   transition-timing-function: ease-out;
            // }
          }

          &.bottom-left {
            background-color: v.$black-light;
            bottom: 0;
          }
        }
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: v.$color-yellow;
          transform: scaleY(0);
          transform-origin: 50% 100%;
          transition-property: transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
        }

        &:hover {
          border: 0;
          border-radius: 0;
          .square.top-left {
            transform: scaleY(1);
            background-color: v.$bg-color-primary; // Cambia 'new-color' al color que desees
          }
  
          &:before {
            transform: scaleY(1);
          }
        }

        // &:hover:before {
        //   transform: scaleY(1);

        //   &.square.top-left {
        //     transform: scaleY(1);
        //   }
        // }
      }
    }

    // .card:before {
    //   content: "";
    //   position: absolute;
    //   z-index: -1;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   background: #2098d1;
    //   transform: scaleY(0);
    //   transform-origin: 50% 100%;
    //   transition-property: transform;
    //   transition-duration: 0.3s;
    //   transition-timing-function: ease-out;
    // }
    // .card:hover,
    // .card:focus,
    // .card:active {
    //   color: white;
    // }
    // .card:hover:before {
    //   transform: scaleY(1);
    // }
  }
}
