@use "../_partials/variables" as v;

.fix-btn-valora {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 1;
  font-size: 1rem;
  top: 50%;
  color: v.$white;
  background-color: v.$bg-color-secondary;
  padding: 0.4rem;
  right: 0;
  a:hover {
    color: v.$white;
    text-decoration: none;
  }
}

.custom {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;

  .img-slider {
    max-height: 75vh;
    width: 100%;
  }

  .text {
    font-size: 8rem;
    position: absolute;
    // bottom: 25rem;
    top: 26rem;
    left: 24rem;
    padding: 10px;
    color: white;

    span {
      font-size: 3rem;
      color: v.$color-secondary;
    }
  }

  .move-down {
    width: 5rem;
    position: absolute;
    top: 20rem;
    transition: transform 0.3s ease; // Add a soft transition
  }

  .move-down:hover {
    transform: translateY(
      10px
    ); // move the image down when the cursor is on top
  }

  .bottom-slider {
    background-color: v.$bg-color-primary;
    padding: 4.6rem;
  }
  .search {
    margin: auto;
    background-color: v.$bg-color-primary;
    padding: 7rem;
    padding-bottom: 3rem;
  }

  .container {
    form {
      display: flex;
      flex-wrap: nowrap;
      gap: 0; // We reduce the space between the elements
      .col-md-4 {
        border-radius: 0;
        border: 0;
        flex: 1;
        margin: 0;
        // Margin-Right: 5px;// We adjust the right margin of the entrance fields
      }

      .form-control,
      .form-select,
      .btn {
        padding: 1rem;
        border-radius: 0;
        border: 0;
      }
      // TODO: HOVER FORM
      // .form-control:hover,
      // .form-select:hover,
      // .btn:hover{
      //   border-color: v.$color-yellow;

      // }
      .btn {
        color: v.$white;
        font-weight: bold;
        background-color: v.$color-yellow;
        border-color: v.$color-yellow;
        width: 10rem;
      }
      .small-image {
        width: 25px;
        float: left;
        margin-right: 5px;
      }
    }
    .extra-btns {
      color: v.$white;
      font-weight: bold;
      gap: 0; // We reduce the space between the elements
      .btn1 {
        padding: 1rem;
        background-color: v.$features-darker;
      }
      .btn2 {
        padding: 1rem;
        background-color: v.$bg-color-secondary;
      }
      img {
        width: 25px;
        float: left;
        margin-right: 5px;
      }
    }
  }
  .choose-future {
    position: relative;
    text-align: center;

    img {
      max-width: 100%;
      display: block;
    }

    p,
    .icon-v,
    .cards {
      font-size: 50px;
      color: v.$color-secondary;
      position: absolute;
      top: 6rem;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
    }

    .icon-v {
      top: 18rem;
      width: 5rem;
    }

    .cards {
      width: 65%;
      height: 50%;
      top: 29rem;
      z-index: 1;

      h5 {
        font-size: 20px;
      }

      span {
        font-size: 10px;
      }

      .card {
        height: 100%;
        color: v.$white;
        border: 0;
        border-radius: 0;
        background-color: v.$bg-color-primary;
        position: relative;
        transform: translateZ(0);

        h5 {
          color: v.$white;
        }

        .square {
          width: 3.5rem;
          height: 8rem;
          position: absolute;
          left: 0;

          &.top-left {
            transform: translateZ(0);

            background-color: v.$color-yellow;
            top: 0;

            // &:before {
            //   content: "";
            //   position: absolute;
            //   z-index: -1;
            //   top: 0;
            //   left: 0;
            //   right: 0;
            //   bottom: 0;
            //   background: v.$bg-color-primary;
            //   transform: scaleY(0);
            //   transform-origin: 50% 100%;
            //   transition-property: transform, background-color; // Agrega 'background-color' para la transición de color
            //   transition-duration: 0.3s;
            //   transition-timing-function: ease-out;
            // }
          }

          &.bottom-left {
            background-color: v.$black-light;
            bottom: 0;
          }
        }
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: v.$color-yellow;
          transform: scaleY(0);
          transform-origin: 50% 100%;
          transition-property: transform;
          transition-duration: 0.4s;
          transition-timing-function: ease-out;
        }

        &:hover {
          .square.top-left {
            transform: scaleY(1);
            background-color: v.$bg-color-primary;
            transition-duration: 0.3s;
          }

          &:before {
            transform: scaleY(1);
          }
        }
        .card-body {
          position: relative; // Agrega una posición relativa para el card-body
          overflow: hidden; // Oculta cualquier contenido que se desborde

          h5 {
            color: v.$color-yellow;
            transform: scale(1); // Escala normal

            transition: transform 0.4s; // Duración de la transición en hover
          }

          .card-text {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            color: v.$white;
            margin: 4px;
            span {
              font-size: 1rem;
              font-weight: bold;
            }
          }

          // Agrega una imagen dentro del card-body
          img {
            width: 5px;
            position: absolute;
            top: 3rem;
            left: 5.5rem;
            width: 1.2rem;
            // height: 2%;
            transform: scale(1); // Escala normal
            transition: transform 0.4s; // Duración de la transición en hover
            object-fit: cover; // Ajusta el tamaño de la imagen para cubrir el contenedor
          }
        }

        // Aplica el efecto en hover
        &:hover {
          h5,
          img {
            transform: scale(1); // Escala la imagen al 110% en hover
          }
          h5 {
            color: v.$white;
          }
        }
      }
    }
  }
}
